@import "../../assets/variables";
.selected-tab {
  color: $selected_color;
  background-color: transparent;
}
.tab {
  background-color: transparent;
  transition: 0.5s all ease;
  &:hover {
    color: $selected_color;
  }
}
