@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  font-family: "Jost", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
  transition: 0.2s linear;
}
a:hover {
  opacity: 0.7;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
ul {
  list-style: none;
}
button {
  border: 0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.4s linear;
}
